

.bg-background-yggboard{
    background-image: url("../../img/bg-img/logo-yggboard.png");
};
.panel-label {
	color: #6D9E38 !important;
};

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.panel-user .panel-heading,
.panel-user .panel-footer,
.panel-user.panel-colorful {
  background-color: #ffdbb7;
  border-color: #ffdbb7;
  color: #0080ff;
}
.user-panel-menu {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.user-panel-body {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.user-panel-menu-objetivos {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.user-panel-menu-habilidades {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.header-yggboard{
	background-color: #80ff00 !important;
}

.content-container{
	padding : 0px !important;
}

.footable-page{
	display: none !important;
}

.aqui{
	padding : 0px !important;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */
